[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yi-fang-yuan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yi-fang-yuan
	label-Verified = -1..+1 group user/yi-fang-yuan
	push = group user/yi-fang-yuan
	read = group user/yi-fang-yuan
	rebase = group user/yi-fang-yuan
	removeReviewer = group user/yi-fang-yuan
	submit = group user/yi-fang-yuan
[access "refs/heads/*"]
	create = group user/yi-fang-yuan
	push = +force group user/yi-fang-yuan
	pushMerge = group user/yi-fang-yuan
	read = group user/yi-fang-yuan
[access "refs/tags/*"]
	push = group user/yi-fang-yuan
	push = +force group user/yi-fang-yuan
